<!doctype html>
<html>
<head>
<style>

html {
	position: fixed;
	width: 100%;
	height:100%;
}

h1{
	height:10%;
}

.section {
	width:99%;
	height:40%;
	position: relative;
	display:block;
}

div#memory {
	width:50%;
	height:100%;
	float:left;
}
div#load_avg {
	width:50%;
	height:100%;
	float:left;
}

div#cpu {
	width:50%;
	float:left;
}

div#response {
	width:50%;
	float:left;
}

div#response #table {
	padding: 10px;
	display:block;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

#response span#response_time {
	font-size: 20px;
}

.point_hand {
	cursor:pointer;
	cursor:hand;

}

div#main {
	position:absolute;
	width: 100%;
	height: 100%;
}

#main .selector {
	background: #eee;
	color: #333;
	font-size: 20px;
	padding: 5px;
	border-radius: 8px;
	position:absolute;
	top:-5%;
	right:5%;
	margin: 10px 10px 0 0;
	cursor: pointer;
	cursor: hand;
	z-index: 10000;
}

#hosts h3 {
	font-size: 24px;
	color: #ddd;
	text-align: center;
	text-shadow: 0.1em 0.1em #955;
}

#hosts {
	margin: 0 auto;
	border-radius: 10px;
	width: 100%;
	height: 100%;

}

#hosts ul {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#hosts ul li {
	width: 145px;
	height: 75px;
	padding: 10px;
	margin: 30px;
	font-size: 16px;
	float: left;
	list-style-type:none;
	color: #eee;
	border: solid 2px #ccc;
	border-radius: 5px;
	cursor: pointer;
	cursor: hand;

}

#hosts ul li:hover {
	box-shadow: inset #4e4 0px 0px 8px;	
	text-shadow: 0.1em 0.1em #3dd;
}

.modal {
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	z-index:10000;
	position:absolute;	
}

</style>
<title>System Status</title>
</head>

<body>
	<h1 id="hostname"> </h1>
	<div id="main">
		<div class="selector">
			Hostname
		</div>
		<div class="section">
			<div id="memory"></div>
			<div id="load_avg"></div>
		</div>
		<div class="section">
			<div id="cpu"></div>
			<div id="response">
				<b>Last Response Time:</b> <span id="response_time"> -- </span>
				<div id="table"></div>
			</div>
	</div>
</body>

<script id="host_template" type="text/template">
	<li id="<%=_id%>">
		<span class="hostname"><%=hostname%></span>	
		<span class="type"><%=server_name%></span>
	</li>
</script>

<script id="host_select_template" type="text/template">
	<div class="modal">
		<div id="hosts">
			<h3>Select Your Host.</h3>
			<ul>
				<li class="hostname" id="all">
					<span class="hostname">All Hosts</span>	
				</li>
			</ul>
		</div>
	</div>
</script>

<script id="request_template" type="text/template">
	<table>
		<tr>
			<th>Recorded At</th>
			<th>Client IP</th>
			<th class="point_hand" id="url">URL</th>
			<th class="point_hand" id="status_code">Status</th>
			<th class="point_hand" id="response">Response Time</th>
		</tr>
		<% for(var i=0;i<requests.length;i++) { %>
		<% var req = requests[i]; %>
			<tr>
				<td><%=req.measured_at%></td>
				<td><%=req.client_ip%></td>
				<td><%=req.url%></td>
				<td><%=req.status_code%></td>
				<td style="color:<%=color(req.response_time)%>"><%=req.response_time%> ms</td>
			</tr>
		<% } %>
	</table>
</script>
<script src="/underscore-min.js"></script>
<script src="/jquery-1.7.1.min.js"></script>
<script src="/highcharts.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
	Highcharts.theme = { colors: ['#4572A7'] };
</script>
<script>

cpu_chart_options = {
      chart: {
         renderTo: 'cpu',
         defaultSeriesType: 'area'
      },
      title: {
         text: 'CPU Utilization'
      },
      xAxis: {
			type: 'datetime',
			tickPixelInterval: 150
      },
      yAxis: {
         title: {
            text: '% Utilization'
         }
		},
      legend: {
         align: 'right',
         x: -100,
         verticalAlign: 'top',
         y: 20,
         floating: true,
         backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
         borderColor: '#CCC',
         borderWidth: 1,
         shadow: false
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.x +'</b><br/>'+
                this.series.name +': '+ this.y +'<br/>'+
                'Total: '+ this.point.stackTotal;
         }
      },
      plotOptions: {
         area: {
            stacking: 'percent'
         }
      },
       series: [{
         name: 'User',
         data: []
      }, {
         name: 'System',
         data: []
      }, {
         name: 'Idle',
         data: []
      }]
   };

load_avg_chart_options = {
      chart: {
         renderTo: 'load_avg',
         defaultSeriesType: 'spline'
      },
      title: {
         text: 'Load Average'
      },
		xAxis: {
			type: 'datetime',
			tickPixelInterval:70
		},
		yAxis: {
			title: { text: 'Load' }
		},
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y;
         }
      },
      legend: {
         align: 'right',
         x: -100,
         verticalAlign: 'top',
         y: 20,
         floating: true,
         backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
         borderColor: '#CCC',
         borderWidth: 1,
         shadow: false
      },
      series: [
		{
         name: '1 minute',
         data: []
		},
		{
         name: '5 minute',
         data: []
      },
		{
         name: '15 minute',
         data: []
      }]
   };
   
memory_chart_options = {
		chart: {
			renderTo: 'memory',
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false
		},
		title: {
			text: 'Current Server Memory'
		},
		tooltip: {
			formatter: function() {
				return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
			}
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					color: Highcharts.theme.textColor || '#000000',
					connectorColor: Highcharts.theme.textColor || '#000000',
					formatter: function() {
						return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
					}
				}
			}
		},
		series: [{
			type: 'pie',
			name: 'Memory',
			data: [
				['Total Memory',100.0]
			]
		}]
	};

$(document).ready(function() {

function reset_charts() {
	mem_chart = null;
	load_avg_chart = null;
	cpu_chart = null;
	requests = [];
}

var mem_chart = null;
function update_memory_chart(data) {
	  var gb = data.totalmem/1024/1024/1024;
	  memory_chart_options.title = {text:gb+"GB Memory"};
	  var mem_series = memory_chart_options.series[0];
	  var free = Math.round(100*(data.freemem/data.totalmem));
	  var used = Math.round(100 - free);
	  mem_data = [
			["Free Memory",free],
			["Used Memory",used]
	  ];
	  if(!mem_chart) {
	  		console.log('new mem');
	  		mem_series.data = mem_data;
			mem_chart = new Highcharts.Chart(memory_chart_options);
	  }
	  mem_chart.series[0].setData(mem_data);
}


var load_avg_chart = null;
function update_load_chart(data) {

	  if(!load_avg_chart) {
			var opt_series = load_avg_chart_options.series;
			var start = new Date();
			_.each(opt_series,function(item,idx) {
				item.data = [];
				for(var i = 0;i<10;i++) {
					item.data.push({x:start.getTime()+i*1000,y:1});
				}
			});
			load_avg_chart = new Highcharts.Chart(load_avg_chart_options);
	  }

	  var series = load_avg_chart.series;
	  var measured_at = new Date(data.measured_at).getTime();
	  series[0].addPoint({x:measured_at,y:data.loadavg[0]},false,true);
	  series[1].addPoint({x:measured_at,y:data.loadavg[1]},false,true);
	  series[2].addPoint({x:measured_at,y:data.loadavg[2]},true,true);
}


var cpu_chart = null;
function update_cpu_chart(data) {
	var cpus = data.cpus;
	var xAxis = cpu_chart_options.xAxis;
	xAxis.catagories = []
	cpu_chart_options.subtitle = { text: 'Number of CPUs: '+cpus.length };

	var user = 0,system = 0,idle = 0;
	_.each(cpus,function(element,idx){
		xAxis.catagories.push(element.model);	
		//series.name  /series.data
		// user system idle
		var times = element.times;
		user += times.user;
		system += times.sys;
		idle += times.idle;
	});
	var total = user + system + idle;
	user=100*user/total;
	system=100*system/total;
	idle=100*idle/total;
	
	if(!cpu_chart) {
		var start = new Date(data.measured_at);
		var opt_series = cpu_chart_options.series;
		_.each(opt_series,function(item,idx) {
			item.data = [];
			for(var i = 0;i<10;i++) {
				item.data.push({x:start.getTime()+i*1000,y:100});
			}
		});
		cpu_chart = new Highcharts.Chart(cpu_chart_options);
	}

	var series = cpu_chart.series;	
	
	var measured_at = new Date(data.measured_at).getTime();
	series[0].addPoint({x:measured_at,y:user},false,true);
	series[1].addPoint({x:measured_at,y:system},false,true);
	series[2].addPoint({x:measured_at,y:idle},true,true);
	
}

function get_color_from_response(t) {
	var color;
	if(t < 200) {
	 		color = 'green'; 
	} else if(t>=200 && t<=500) {
		color = 'yellow'; 
	} else {
		color = 'red'; 
	}
	return color;
}

var requests = [];
var sized = false;
var sorted = null;

function update_request_data(data) {

 	if(data.hostname != filter) {
  		console.log('returning');
		return;
  	}

	requests.push(data);
	var t = data.response_time;
	var color = get_color_from_response(t);
	$('#response_time').html(data.response_time+' ms').css({color:color});
	if(requests.length>200) requests.shift();
	
	redraw_requests();

}

/* This is SOOOO efficient... not */
function redraw_requests() {
	var template = $('#request_template').html(); 

	var items;
	if(current_sort != null) {
		items = _.clone(requests);
		// XXX sort
		items.sort(current_sort);
	} else {
		items = requests;
	}

	var html = _.template(template,{requests:items,color:get_color_from_response});
	// redraw
	$('#response #table').html(html);
	
	// Set to size of section
	$('#response #table').css({height:($('#cpu').height()-30)+'px'});

}

// TODO: add disconnect (server going down);
var socket = io.connect(window.location.href);
var points = 0;

// For testing
fake_requests = function() {
	var img = new Image();
	img.src = 'http://localhost:8080/yo';
}
if(window.location.href.indexOf('fake_data')>=0) {
	setInterval(fake_requests,1000);
}

var hostname = "Unknown";
var filter = "";

function update_hostname(new_hostname) {
	$('head title').html(new_hostname);
   $('#hostname').html(new_hostname);
  	$('#main .selector').html(new_hostname); 
	filter = new_hostname;
	hostname = new_hostname;
}


socket.on('REQUEST', update_request_data);
socket.on('SYSTEM_INFO', function (data) {
  points++;

  if(hostname === 'Unknown') {
  	 update_hostname(data.hostname);
  }

  if(data.hostname != filter) {
  		console.log('returning');
		return;
  }

  update_memory_chart(data);
  update_load_chart(data);
  update_cpu_chart(data);
});

var sort = {
	URL: function(a,b) {
		return a.url.localeCompare(b.url);
	},
	STATUS: function(a,b) {
		return b.status_code - a.status_code;
	}, 
	RESPONSE: function(a,b) {
		return b.response_time - a.response_time;
	}
};

var current_sort;
$(document).on('click','#url',function(e) {
	current_sort = sort['URL'];
	redraw_requests();
});

$(document).on('click','#status_code',function(e) {
	current_sort = sort['STATUS'];
	redraw_requests();
});

$(document).on('click','#response',function(e) {
	current_sort = sort['RESPONSE'];
	redraw_requests();
});

$(document).on('keydown',function(e) {
	if(e.keyCode == 27 ) {
		current_sort = null;
	}

	redraw_requests();
});

function close_modal() {
	$('.modal').remove();
	$(document).off('keyup',keyup_modal);
	$(document).off('click','#hosts ul li',select_host);
}

function keyup_modal(e) {
	if(e.keyCode == 27 ) {
		close_modal();
	}
}

function select_host(e) {
	console.log(e);
	var id = $(e.currentTarget).attr('id');
	var new_hostname = $(e.currentTarget).find('.hostname').html();

	if(new_hostname != hostname) {
		update_hostname(new_hostname);
		reset_charts();
	} 	

	close_modal();
}

$(document).on('click','#main .selector',function(e) {
	// TODO: implement
	var template = $('#host_select_template').html();
	var host_template = $('#host_template').html();

	$('body').append(template);

	$(document).on('keyup',keyup_modal);
	$(document).on('click','#hosts ul li',select_host);
	
	// get data
	$.ajax({
		url:'/servers',
		success: function(response) {
			for(var i in response) {
				var item = response[i];
				var host_html = _.template(host_template,item);
				$('#hosts ul').append(host_html);	
				
			}
		},
		failure: function() {
			alert('Failure loading servers.  I blame myself.');
			close_modal();
		}
	});

	// XXX reconfigure socket.io on select
	
});

}); 
</script>

</html>

